:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --gap: 24px;
  --radius: 15px;
  --shadow: 5px 5px rgba(0, 0, 0, 0.27);

  --light-color: rgba(255, 255, 255, 0.748);
  --main-color: rgb(6, 31, 70);
  --dark-gray: rgb(34, 34, 34);
  --theme-color: rgb(34, 34, 34);
  --highlight-color: rgb(106, 46, 150);
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
}

/* Usual background, change the URL */
/* html {
  background: url(./images/bread-bg.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
} */

/* Usual header */
header {
  padding: 15px;
  padding-left: 36px;
  padding-right: 36px;
  background-color: #000000e1;
  font-weight: bold;
  font-size: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  /* box-shadow: var(--shadow); */
  z-index: 1;
}

main {
  flex: 1;
  background-color: rgb(42, 42, 42);
}

/* Usual footer */
footer {
  font-size: 10px;
  text-align: center;
  background-color: #000000e1;
  color: white;
  padding-left: var(--gap);
  padding-right: var(--gap);
  padding-top: 12px;
  padding-bottom: 12px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 50px;
  flex-flow: wrap;
  justify-content: center;
}

.card {
  border-radius: 10px;
  border: none;
  background-color: #1a1a1ae1;
  height: 160px;
  width: 340px;
  box-shadow: var(--shadow);
}

img {
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: inherit;
  object-fit: cover;  
}
